*.iml
.DS_Store
.dart_tool/

.packages
.pub/
.ios

.idea/
.vscode/
.vagrant/
.sconsign.dblite
.svn/

DerivedData/

.generated/
*.pbxuser


xcuserdata

*.moved-aside

*.pyc
*sync/
Icon?
.tags*

build/
.android/
.flutter-plugins
.ios

flutter/
flutterVersion/
ios/Pods

.flutter-plugins-dependencies
flap_products/
